<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container"> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"> 
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Casos de Uso
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/registrar_genero">Registrar Genero</a>
                        <a class="dropdown-item" href="/registrar_pelicula">Registrar Pelicula</a>
                        <a class="dropdown-item" href="/registrar_alquiler">Registrar Nota de Alquiler</a>
                    </div>
                </li> 
            </ul>
        </div>
    </div>
</nav>