{{!-- IMPORT HEADER /PARTIALS --}}
{{>header}}
<div style="padding: 0%; margin: 0%;">
    {{!-- NAVBAR --}}
    {{>navbar}}
    {{!-- IMPORT BODY HTML --}}
    <div class="p-3">
        {{{body}}}
    </div>
</div>
{{!-- IMPORT FOOTER --}}
{{>footer}}